form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

label {
  font-weight: bold;
  margin-bottom: -20px;
}

h2 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 17px;
  font-style: italic;
  margin: 2% auto;
}

input[type="text"],
textarea {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #aeadad;
  border-radius: 5px;
  font-size: 14px;
}

select {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #fff;
}

input[type="file"] {
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #008CBA;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #0077A2;
}

.addIngredientTextbox {
  display: flexbox;
  width: 40%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

.removeIngredientButton {
  max-width: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #de5b5b;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.removeIngredientButton:hover {
  background-color: #9e1919;
}

.addIngredientButton {
  display: flexbox;
  max-width: 40%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #33bc6a;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.addIngredientButton:hover {
  background-color: #169c33;
}

.ingredientQtyTextbox {
  max-width: 20%;
  text-align: center;
  margin: 2% auto;
  margin-left: 5%;
  margin-right: 5%;
}

.addInstructionsButton {
  display: flexbox;
  max-width: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #3d7adc;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5%;
}

.addInstructionsButton:hover {
  background-color: #4660b6;
}

.addedIngedientContainer {
  width: 100%;
  overflow: hidden;
  margin-top: -5%;
  margin-bottom: 5%;
}

.buttonContainer {
  float: right;
}

.ingredientsAdded {
  float: left;
  margin-top: 2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: bold;
  margin-left: 10%;
}

.ingredientsLabel {
  margin-bottom: 3%;
}